<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3fe96121-c277-49a2-8137-4844830eebc6/resourceGroups/rg-test-service/providers/Microsoft.ContainerRegistry/registries/TestService</ResourceId>
    <ResourceName>TestService</ResourceName>
    <ResourceGroup>rg-test-service</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://testservice.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a1bcd0cb-9281-4103-8092-d8075471c309</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>